In [20]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType, DateType
import pyspark as ps
import pandas as pd
import numpy as np
spark = (ps.sql.SparkSession.builder 
        .master("local[4]") 
        .appName("sparkSQL exercise") 
        .getOrCreate()
        )

ModuleNotFoundError: No module named 'folium'

In [16]:
Crime_df = spark.read.csv('../data/Crime.csv')
Crime_df.printSchema()
Crime_df.createOrReplaceTempView('Crime')

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)

In [17]:
results = spark.sql(""" Select * from Crime limit 10""")
results.show()

+--------------------+------------------+--------+---------+--------------------+--------------------+------------------+
|                 _c0|               _c1|     _c2|      _c3|                 _c4|                 _c5|               _c6|
+--------------------+------------------+--------+---------+--------------------+--------------------+------------------+
|                   X|                 Y|OBJECTID|REPORTNUM|          REPORTDATE|            BLOCKADD|           OFFENSE|
|-105.237351829018792| 40.00268859153725|23581055|080003563|2008-03-17T07:00:...| 700 Block Mohawk Dr|Theft From Vehicle|
|-105.268787155469141|40.000966478110769|23581056|120010002|2012-07-26T07:00:...|   700 Block 19th St|          Burglary|
|-105.248683839763473|40.007343035232736|23581057|090012759|2009-10-01T07:00:...|3400 Block Colora...|Theft From Vehicle|
|-105.245068357341395|40.019326006252967|23581058|120005765|2012-04-30T07:00:...|3800 Block Walnut St|          Burglary|
|-105.262339749565413|40.031072931806357|23581059|080011647|2008-08-28T07:00:...|2600 Block Fremon...|Theft From Vehicle|
|-105.280961288432749|40.008674559568938|23581060|090009159|2009-07-22T07:00:...|900 Block Pennsyl...|          Burglary|
|-105.242524202128806|40.014636141224685|23581061|080008187|2008-06-20T07:00:...|4100 Block Arapah...|        Auto Theft|
|-105.276359527243073|40.017555954960436|23581062|100014399|2010-11-21T07:00:...|1400 Block Walnut St|       Trespassing|
|-105.243095119280781|40.031445352601772|23581063|110009678|2011-08-01T07:00:...|  3100 Block Bell Dr|          Burglary|
+--------------------+------------------+--------+---------+--------------------+--------------------+------------------+

In [18]:
result = spark.sql(""" Select _c6, count(*) from Crime group by _c6""")
result.show()

+------------------+--------+
|               _c6|count(1)|
+------------------+--------+
|  Motorcycle Theft|     313|
|           OFFENSE|       1|
| Indecent Exposure|     309|
|           Assault|    1325|
|           Robbery|     473|
|Theft From Vehicle|    5683|
|Theft Of Car Parts|     236|
|          Homicide|      21|
|       Trespassing|    5555|
|          Incident|    2576|
|          Burglary|    6447|
|         Indecency|      53|
|       Sex Assault|    1096|
|        Auto Theft|    1531|
|         Vandalism|    9586|
|          Recovery|     282|
+------------------+--------+

In [19]:
Crime_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)